.App {
  text-align: center;

}

.wrapper {
  min-height:100%;
  min-width:100%;
  background-color: #afd2e9;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.title {
  padding: 10px;
}
