.App {
  text-align: center;
  /* height: '100vh';
  width: '100vh';
  min-height: '100vh';
  min-width: '100vh'; */
}

html, body {
  height: 100vh;
  width: 100vw;
}

.wrapper {
  background-color: #afd2e9;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 5%;
}

.column-container {
  display: flex;
  flex-direction: column;
  justify-content:space-evenly;
  margin-top: 50%;
  align-items: center;
}

.title {
  padding: 15px;
  border-style: solid;  
  border-top:0px;
  border-left:0px;
  border-right:0px;
}

.subtitle {
  padding-bottom: 10px;
  border-bottom: 2px solid black;
}
