.App {
  text-align: center;
  /* height: '100vh';
  width: '100vh';
  min-height: '100vh';
  min-width: '100vh'; */
}

.wrapper {
  background-color: #afd2e9;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 5%;
}

.title {
  padding: 10px;
  border-style: solid;
}
