.App {
  text-align: center;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
 }

.wrapper {
  background-color: #afd2e9;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.column-container {
  display: flex;
  flex-direction: column;
  justify-content:space-evenly;
  margin-top: 50%;
  align-items: center;
}

.title {
  padding: 15px;
  border-bottom: 3px solid black;
  margin-bottom: 1%;
}

.subtitle {
  padding-bottom: 10px;
  border-bottom: 2px solid black;
}

.navigation-arrow {
  padding:50px;
}